.postFrom {
    background-color: rgb(187, 205, 207);
    height: 48px;
    width: 580px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.062);
}
.postFrom input {
    width: 80%;
    height: 24px;
    background-color: transparent;
    border: none;
    outline-style: none;
}
.postFrom button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}