.headerwrapper {
    background-color: rgb(86, 151, 160);
    box-shadow: .5px 0.5px 2px rgba(0, 0, 0, 0.062);
}

.header {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header img {
    width: 40px;
    margin-left: 16px;
}

.header__navlist {
    list-style: none;
}

.header__navlist li {
    display: inline-block;
    margin-right: 16px;
    text-decoration: underline;
}
.header__navlist a {
    color: #222035;
    font-weight: 700;
}